.header.navbar.navbar-default.container-fluid#header
    .navbar-brand Viz
    .navbar-text Filename Placeholder
    .collapser.btn.navbar-btn.btn-default.navbar-right#collapse-button Collapse
    .btn.navbar-btn.btn-default.navbar-right Upload
