#data-viewer
   div
      a(href="http://www.google.com")
         .col-md-6.flat-button.left-button= "Load"
      a(href="http://www.google.com")
         .col-md-6.flat-button.right-button= "Connect"
   .data-viewer-container#dataViewerContainer