.data-viewer.col-md-2
   div
      a(href="http://www.google.com")
         .col-md-6.flatButton.leftButton= "Load"
      a(href="http://www.google.com")
         .col-md-6.flatButton.rightButton= "Connect"
   .dataViewerContainer#dataViewerContainer