//sub-component imports
@import field-item/field-item.sass
//end sub-component imports
.data-viewer
  overflow: hidden
  background-color: $sb-background-color
  border-radius: $sb-border-radius
  padding: $sb-padding

.spaced-button
  width: 48%
  color: $sbbtn-color

.left
  float: left

.right
  float: right

.data-viewer-container
   background-color: $sbb-background-color
   margin-top: $sbb-margin-top
   border-radius: $sbb-border-radius
   overflow: hidden

.detail-header
  text-align: center
