doctype html.no-js(lang='')

head
    title viz
    include ./boilerplate/head.jade

  body
    include ./boilerplate/browsehappy.jade

    .container
      .row
        include ./components/header/header.jade
      .row
        include ./components/data-viewer/data-viewer.jade
        include ./components/visualizer/visualizer.jade
        include ./components/template-viewer/template-viewer.jade
      .row
        include ./components/footer/footer.jade

    include ./boilerplate/scripts.jade
