doctype html.no-js(lang='')

head
    title viz
    include ./boilerplate/head.jade

  body
    include ./boilerplate/browsehappy.jade
    .container-fluid
      .head
        include ./components/header/header.jade
      .main
        include ./components/data-viewer/data-viewer.jade
        include ./components/visualizer/visualizer.jade
        #template-viewer
      .foot
        include ./components/footer/footer.jade

    include ./boilerplate/scripts.jade
