doctype html.no-js(lang='')

head
    title viz
    include ./views/boilerplate/head.jade

  body
    include ./views/boilerplate/browsehappy.jade

    .container
      include ./views/layouts/nav.jade
      include ./views/layouts/footer.jade

    include ./views/boilerplate/scripts.jade
