@import "./template-item/template-item.sass"
#template-viewer
  overflow: hidden
  background-color: $sb-background-color
  border-radius: $sb-border-radius
  padding: $sb-padding
  color: $sbh-color

.template-head
    font-family: $font-family-sans-serif
    margin-bottom: $sbh-margin-bottom

.template-item
  &:hover
    background-color: $temp-select-color