@import "./template-item/template-item.sass"
#template-viewer
  background: $sb-background-color
  color: $sbh-color
  overflow: hidden

.template-head
    font-family: $font-family-sans-serif
    margin-bottom: $sbh-margin-bottom

